<%- include('../layouts/header') %>

<div class="form-container">
    <h1 class="title">Add New User</h1>
    <form action="" method="post"   class="form">
        <div class="input-group">
            <label for="Name" class="name">Name</label>
            <input type="text" name="name" required>
        </div>
        <div class="input-group">
            <label for="email" class="email">Email</label>
            <input type="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="mobile" class="mobile">Mobile</label>
            <input type="text" name="mno" required>
        </div>
        <!-- <div class="input-group">
            <label for="password" class="password">Password</label>
            <input type="password" name="password" required>
        </div> -->
       
        <button class="sign-in">Add User</button>
        <a href="/admin/dashboard" class="btn1">Back</a>
        
            <% 
            
              if(typeof message!== 'undefined'){
                 %>
                 <span style="color: rgb(235, 24, 24); text-align: center;"><%= message %></p>
            
                 <%
                 
              }
            
            
            %>
    </form>
</div>

<%- include('../layouts/footer.ejs') -%>
